<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="container-fluid">

     <div class="row-fluid" id="cmd_nav">
        <div class="btn-group" data-toggle="buttons-radio">
            <div class="btn" id="new">New Channel</div>
            {% for channel in channel_list: %}
            <div class="btn inactivechannel" id="chn_{{channel}}" onClick=loadc("{{channel}}")>{{channel}}</div>
            {% endfor %}
        </div>
    </div>

    <div class="row-fluid" id="div_form_new_channel">
    <form id="form_new_channel">
        <legend>New Channel</legend>
        <label>Name</label>
        <input type="text" name="name" placeholder="Enter a name for your channel">
        <label>Server</label>
        <input type="text" name="server" placeholder="Server:Port">
        <span class="help-inline">E.g: irc.freenode.net:6667</span><br/>
        <label>Channel</label>
        <input type="text" name="channel" placeholder="#channel">
        <span class="help-inline">E.g: #vithon</span><br/>
        <button type="submit" class="btn">Submit</button>
    </form>
    </div>
    <div class="row-fluid" id="channel_control">
        <div class="hidden" id="status"></div>
        <div class="hidden" id="viewed_channel"></div>
        <div class="btn" id="stop">Stop Logger</div>
        <div class="btn" id="start">Start Logger</div>
    </div>

    <div class="row-fluid">
        <h3># Entries: <span id="count_entry">{{ logs|length }}</span></h3>
        <pre class="prettyprint linenums" style="font-size:80%" id="logmain">{% for log in logs: %}
{{log}}{% endfor %}</pre>
    </div>
</div>
<script>
$("#new").click( function() {
    $("#form_new_chann").show();
});

$("#form_new_channel").submit( function() {
    var name = $("input[name=name]").val();
    var server = $("input[name=server]").val();
    var channel = $("input[name=channel]").val();
    channel = channel.substring(1, channel.length);
    url = "/" + channel + "/ajax/"
    console.log(url);
    $.post(url, function(data) {
        console.log(data);
    });
    return false;
});

$("#stop").click(function() {
    var channel = $("#viewed_channel").val()
    $.ajax({
        type: "DELETE",
        url: "/" + channel + "/ajax"
    }).done(function(data) {
        console.log(data);
    });
    //TODO: Switch status and button
});

$("#start").click(function() {
    //TODO:
});
function loadc(c) {
    //get status of the channel
    var logging = true; 
    if ($("#chn_" + c).attr("class").contains("inactivechannel")) {
        logging = false;
    } 
    var c = c.substring(1,c.length);
    $("#form_new_channel").hide();
    $.getJSON("/"+c+"/ajax/",function(data) {
    	$("#count_entry").text(data.length);
        $("#logmain").html( data.join("\n") );
        prettyPrint();
    });

    $("#viewed_channel").text(c);
}

</script>
{% endblock %}
