<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="container-fluid">

     <div class="row-fluid" id="cmd_nav">
        <div class="btn-group"id="channels-group" data-toggle="buttons-radio">
            <div class="btn" id="new">New</div>
            <div class="btn active" id="all">All</div>
            {% for channel in channel_list: %}
            {% if channel in active_list %}
            <div class="btn activechannel" id="chn_{{loop.index}}" onClick='loadc({{channel|tojson|safe}})'>{{channel}}</div>
            {% else %}
            <div class="btn inactivechannel" id="chn_{{loop.index}}" onClick='loadc({{channel|tojson|safe}})'>{{channel}}</div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row-fluid" id="div_form_new_chann">
        <hr />
        <form id="form_new_chann" class="form-inline hidden">
            <!-- <label>Name</label>
            <input type="text" name="name" placeholder="Enter a name for your channel">
            <label>Server</label>
            <input type="text" name="server" placeholder="Server:Port">
            <span class="help-inline">E.g: irc.freenode.net:6667</span><br/>
            --> 
            <input type="text" name="channel" class="input-small" placeholder="#channel">
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>

    <div class="row-fluid" id="channel_control" style="display: none;">
        <div id="status"></div>
        <div id="viewed_channel" class="hidden"></div>
        <div class="btn" id="stop">Stop Logger</div>
        <div class="btn" id="start">Start Logger</div>
    </div>

    <div class="row-fluid">
        <h4># Entries: <span id="count_entry">{{ logs|length }}</span></h4>
        <pre class="prettyprint linenums" style="font-size:80%" id="logmain">{% for log in logs: %}
{{log}}{% endfor %}</pre>
    </div>

</div>

<script>
var count_chann = {{channel_list|length}};
var list_chann = {{channel_list|tojson|safe}};

$("#new").click( function() {
    $("#form_new_chann").show();
});

$("#all").click( function() {
    $("#form_new_chann").hide();
    $.getJSON("/ajax/",function(data) {
    	$("#count_entry").text(data.length);
        $("#logmain").html( data.join("\n") );
        prettyPrint();
    });
});

$("#form_new_chann").submit( function() {
    //var name = $("input[name=name]").val();
    //var server = $("input[name=server]").val();
    var channel = $("input[name=channel]").val();
    url = "/" + encodeURIComponent(channel) + "/ajax/"
    console.log(url);
    $.post(url, function(data) {
        if (data.message == "failed") {
            alert("Operation failed, please check channel name");
            return;
        }
        var index = list_chann.indexOf(channel) + 1;
        if (!index){ 
            $("#channels-group").append("<div class='btn activechannel' id='chn_"+(count_chann++)+"' onClick=loadc('"+channel+"')>"+channel+"</div>")
            list_chann.push(channel);
        } else {
            $("#chn_"+index).addClass("activechannel");
        }
    },"json");
    return false;
});

$("#stop").click(function() {
    var channel = $("#viewed_channel").val()
    $.ajax({
        type: "DELETE",
        url: "/" + encodeURIComponent(channel) + "/ajax"
    }).done(function(data) {
        console.log(data);
    });
    //TODO: Switch status and button
});

$("#start").click(function() {
    var channel = $("#viewed_channel").val();
    url = "/" + encodeURIComponent(channel) + "/ajax/";
    $.post(url, function(data) {
        console.log(data);
    });
});

function loadc(c) {
    //get status of the channel
    //var logging = true; 
    //if ($("#chn_" + c).attr("class").indexOf("inactivechannel")) {
    //    logging = false;
    //} 
    $("#form_new_chann").hide();
    url = "/" + encodeURIComponent(c) + "/ajax/";
    $.getJSON(url,function(data) {
    	$("#count_entry").text(data.length);
        $("#logmain").html( data.join("\n") );
        prettyPrint();
    });

    $("#viewed_channel").text(c);
}

</script>
{% endblock %}
